<div class='posts'>
  {{#each posts}}
    <div class='card'>
      <div class='card-header'>
        <h2>
          <a href='/post/{{id}}'>{{title}}</a>
        </h2>
        {{#if user}}
          <p>Created by {{user.name}} on {{formatDate date_created}}</p>
        {{else}}
          <p>Created by Unknown User on {{formatDate date_created}}</p>
        {{/if}}
      </div>
      <div class='card-body'>
        <p>
          {{content}}
        </p>
      </div>
      {{> comments}}
    </div>
  {{/each}}
</div>
